.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;;
}

.card {
    width: 50%;
    max-width: 450px;
    background-color: white;
    padding: 34px;
    border-radius: 10px;
    /* box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);  */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.campo {
    color: #000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: #e0e0e0;
}

.botao {
    padding: 10px;
    color: #FFF;
    background-color: rgb(94, 7, 175);
    border-radius: 15px;
    border: 2px solid #000;
    cursor: pointer;
    transition: all linear 190ms
}

.botao:hover {
    transform: scale(1.04);
    background-color: rgb(124, 37, 206);
}

label {
    font-weight: 600;
}