.campo {
    color: #000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: #e0e0e0;
}


table{
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    align-items: center;
}

tr, th{
    border: 2px solid #ecc900;
    color: #FFF;
    padding: 1em;
    
}

.table-button {
    padding: 10px;
    color: #FFF;
    background-color: rgb(7, 169, 175);
    border-radius: 15px;
    border: 2px solid #000;
    cursor: pointer;
    transition: all linear 190ms;

}